 html body {  
     margin: 10px;  
     color: Blue; 
     margin: square;  
     text-align: center;  
}
  .image-container {
     margin: 0 auto; 
     width: 80%;
     box-shadow: 0 15px 30px;
}
  imag.My.photo {
    font-size:50px;
}  